.navbar{
  background: radial-gradient(circle, rgba(79,92,239,0.844958051580007) 0%, rgba(0,0,0,1) 100%, rgba(63,94,251,0.7357143541010154) 100%);
    padding: 10px;
}
.btn{
  background-color: #ff7f17;
  color: aliceblue;
  font-family: Verdana;
  font-weight: bold;

}
.btn:hover{
  background-color: rgb(127, 158, 185);
  color: aliceblue;
}
