<nav class="sidebar-navigation" >
  <ul>
    <li class="" (click)="trasferenciasRoute()">
      <fa-icon [icon]="transferenciaIcon"></fa-icon>
      <span src="" class="tooltip"  >Transacciones</span>
    </li>
    <li (click)="contactoRoute()">
      <fa-icon [icon]="contactosIcon"></fa-icon>
      <span class="tooltip">Contactos</span>
    </li>
    <li (click)="historialRoute()">
      <fa-icon [icon]="historialIcon"></fa-icon>
      <span class="tooltip">Historial</span>
    </li>
    <li (click)="motivosRoute()">
      <fa-icon [icon]="motivosIcon"></fa-icon>
      <span class="tooltip">Motivos</span>
    </li>
  </ul>
</nav>
<div class="content">
    <h1>Mis gastos</h1>
    <h2>Aca debe crearse unas tablas que muestre el historiald e transacciones</h2>
</div>



