<div class="cont">
  <nav class="main-menu">
    <ul>
        <li>
          <a [routerLink]="['/home']">
                <i class="fa fa-home fa-2x"></i>
                <span class="nav-text" >
                    Home
                </span>
              </a>


        </li>
        <li class="has-subnav">
            <a [routerLink]="['/transaccion']">
                <i class="fa fa-money fa-2x"></i>
                <span class="nav-text">
                    Transferencias
                </span>
            </a>

        </li>
        <li class="has-subnav">
            <a [routerLink]="['/contacto']">
              <i class="fa fa-list fa-2x"></i>
                <span class="nav-text">
                    Contactos
                </span>
            </a>

        </li>
        <li class="has-subnav">
            <a [routerLink]="['/motivos']">
              <i class="fa fa-folder-open fa-2x"></i>
                <span class="nav-text">
                    Motivos
                </span>
            </a>

        </li>
        <li>
            <a [routerLink]="['/mis-gastos']">
                <i class="fa fa-bar-chart-o fa-2x"></i>
                <span class="nav-text">
                    Gastos
                </span>
            </a>
        </li>
        <li>
            <a [routerLink]="['/historial']">
                <i class="fa fa-clock-o fa-2x"></i>
                <span class="nav-text">
                  Historial
                </span>
            </a>
        </li>
    </ul>

    <ul class="logout">
        <li>
          <a [routerLink]="['/historial']" (click)="logout()">
                <i class="fa fa-power-off fa-2x"></i>
                <span class="nav-text">
                    Logout
                </span>
            </a>
        </li>
    </ul>
  </nav>
  <div class="content">
      <h1>Historial de Transacciones</h1>
      <p-table  [value]="historial" responsiveLayout="scroll" >
        <ng-template pTemplate="header">
          <tr>
            <th>Fecha</th>
            <th>Hora</th>
            <th>tipo</th>
            <th>monto</th>
            <th>origen/destino</th>
            <th>motivo</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-historial >
          <tr>
            <td>{{ historial.fecha.date }}</td>
            <td>{{ historial.hora }}</td>
            <td>{{ historial.tipo }}</td>
            <td>{{ historial.monto }}</td>
            <td>{{ historial.origen_destino }}</td>
            <td>{{ historial.motivo }}</td>
          </tr>
          <tr>
            <td>{{ historial.fecha1.date }}</td>
            <td>{{ historial.hora1 }}</td>
            <td>{{ historial.tipo1}}</td>
            <td>{{ historial.monto1 }}</td>
            <td>{{ historial.origen_destino1 }}</td>
            <td>{{ historial.motivo1 }}</td>
          </tr>
        </ng-template>
      </p-table>

  </div>
</div>




