<div class="cont">
  <nav class="main-menu">
    <ul>
        <li>
            <a href="home">
                <i class="fa fa-home fa-2x"></i>
                <span class="nav-text" >
                    Home
                </span>
            </a>

        </li>
        <li class="has-subnav">
            <a href="transaccion">
                <i class="fa fa-money fa-2x"></i>
                <span class="nav-text">
                    Transferencias
                </span>
            </a>

        </li>
        <li class="has-subnav">
            <a href="contacto">
              <i class="fa fa-list fa-2x"></i>
                <span class="nav-text">
                    Contactos
                </span>
            </a>

        </li>
        <li class="has-subnav">
            <a href="motivos">
              <i class="fa fa-folder-open fa-2x"></i>
                <span class="nav-text">
                    Motivos
                </span>
            </a>

        </li>
        <li>
            <a href="#">
                <i class="fa fa-bar-chart-o fa-2x"></i>
                <span class="nav-text">
                    Gastos
                </span>
            </a>
        </li>
        <li>
            <a href="historial">
                <i class="fa fa-clock-o fa-2x"></i>
                <span class="nav-text">
                  Historial
                </span>
            </a>
        </li>
    </ul>

    <ul class="logout">
        <li>
          <a href="historial" (click)="logout()">
                <i class="fa fa-power-off fa-2x"></i>
                <span class="nav-text">
                    Logout
                </span>
            </a>
        </li>
    </ul>
  </nav>
  <div class="content">
      <h1>Mis gastos</h1>
      <h2>Aca debe crearse unas tablas que muestre el historiald e transacciones</h2>
  </div>
</div>




