<nav *ngIf="visible" class="main-menu align-self-start justify-content-start">
  <ul>
    <li>
      <a [routerLink]="['/home']">
        <fa-icon icon="home"></fa-icon>
        <span class="nav-text"> Home </span>
      </a>
    </li>
    <li class="has-subnav">
      <a [routerLink]="['/transaccion']">
        <fa-icon icon="money-bill"></fa-icon>
        <span class="nav-text"> Transferencias </span>
      </a>
    </li>
    <li class="has-subnav">
      <a [routerLink]="['/motivos']">
        <fa-icon [icon]="pencilIcon"></fa-icon>
        <span class="nav-text"> Motivos </span>
      </a>
    </li>
    <li>
      <a [routerLink]="['/mis-gastos']">
        <fa-icon [icon]="chartIcon"></fa-icon>
        <span class="nav-text"> Gastos </span>
      </a>
    </li>

    <li>
      <a [routerLink]="['/contacto']">
        <fa-icon [icon]="contactsIcon"></fa-icon>
        <span class="nav-text"> Contactos</span>
      </a>
    </li>
    <li>
      <a [routerLink]="['/historial']">
        <fa-icon [icon]="clockIcon"></fa-icon>
        <span class="nav-text"> Historial </span>
      </a>
    </li>
  </ul>
  <ul class="logout">
    <li>
      <a (click)="alertaEliminarwallet()">
        <fa-icon icon="trash"></fa-icon>
        <span class="nav-text"> Cancelar cuenta </span>
      </a>
    </li>
    <li>
      <a (click)="logout()">
        <!--        <i class="fa fa-power-off fa-2x"></i>-->
        <fa-icon icon="power-off"></fa-icon>
        <span class="nav-text"> Logout </span>
      </a>
    </li>
  </ul>
</nav>
