<nav class="sidebar-navigation">
    <ul>
      <li (click)="trasferenciasRoute()">
        <fa-icon [icon]="transferenciaIcon"></fa-icon>
        <span src="" class="tooltip">Transacciones</span>
      </li>
      <li (click)="contactoRoute()">
        <fa-icon [icon]="contactosIcon"></fa-icon>
        <span class="tooltip">Contactos</span>
      </li>
      <li (click)="historialRoute()">
        <fa-icon [icon]="historialIcon"></fa-icon>
        <span class="tooltip">Historial</span>
      </li>
      <li (click)="motivosRoute()">
        <fa-icon [icon]="motivosIcon"></fa-icon>
        <span class="tooltip">Motivos</span>
      </li>
    </ul>
  </nav>
  <div>
    <div class="mensaje">
      <h1>Personaliza tus motivos </h1>
      <p>
        Queremos ayudarte a controlar tus gastos mediante la generacion de estadisticas sobre tus principales motivos al transferir dinero a otros usuarios de My Wallet
        ingresa un nombre por tajeta; una vez lo ingreses, no podras modificarlo.
        El motivo "desconocido" es inmodificable y se asignara por defecto al momentode realizar una transferencia.
      </p>

      <p>
        Tus motivos:
      </p>
      <div class="listaMotivos">
        <button class="btn1">Descoconido</button>
        <button class="btn2">leasing</button>
        <button class="btn3">diversion</button>
        <button class="btn4">salud</button>
        <button class="btn5">hogar</button>
      </div>

    </div>

  </div>

