@import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);
@import url(https://fonts.googleapis.com/css?family=Titillium+Web:300);

.cont {
  display: flex;
}

.fa-2x {
  font-size: 2em;
}

.fa {
  position: relative;
  display: table-cell;
  min-width: 60px;
  height: 36px;
  text-align: center;
  vertical-align: middle;
  font-size: 20px;
}

.main-menu:hover,
nav.main-menu.expanded {
  width: 250px;
  overflow: visible;
}

.main-menu {
  background: #212121;
  border-right: 1px solid #e5e5e5;
  top: 0;
  bottom: 0;
  height: 100%;
  min-height: 130vh;
  left: 0;
  width: 80px;
  min-width: 50px;
  overflow: hidden;
  -webkit-transition: width 0.05s linear;
  transition: width 0.05s linear;
  -webkit-transform: translateZ(0) scale(1, 1);
  z-index: 1000;
}

.main-menu>ul {
  margin: 7px 0;
}

.main-menu li {
  position: relative;
  display: block;
  width: 250px;
}

.main-menu li>a {
  position: relative;
  display: table;
  border-collapse: collapse;
  border-spacing: 0;
  color: #999;
  font-family: arial;
  font-size: 14px;
  text-decoration: none;
  -webkit-transform: translateZ(0) scale(1, 1);
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.main-menu .nav-icon {
  position: relative;
  display: table-cell;
  width: 60px;
  height: 36px;
  text-align: center;
  vertical-align: middle;
  font-size: 18px;
}

.main-menu .nav-text {
  position: relative;
  display: table-cell;
  vertical-align: middle;
  width: 190px;
  font-family: "Titillium Web", sans-serif;
}

.main-menu>ul.logout {
  position: absolute;
  left: 0;
  bottom: 0;
}

.no-touch .scrollable.hover {
  overflow-y: hidden;
}

.no-touch .scrollable.hover:hover {
  overflow-y: auto;
  overflow: visible;
}

a:hover,
a:focus {
  text-decoration: none;
}

nav {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

nav ul,
nav li {
  outline: 0;
  margin: 0;
  padding: 0;
}

.main-menu li:hover>a,
nav.main-menu li.active>a,
.dropdown-menu>li>a:hover,
.dropdown-menu>li>a:focus,
.dropdown-menu>.active>a,
.dropdown-menu>.active>a:hover,
.dropdown-menu>.active>a:focus,
.no-touch .dashboard-page nav.dashboard-menu ul li:hover a,
.dashboard-page nav.dashboard-menu ul li.active a {
  color: #fff;
  background-color: #5fa2db;
}

.area {
  float: left;
  background: #e2e2e2;
  width: 100%;
  height: 100%;
}

@font-face {
  font-family: "Titillium Web";
  font-style: normal;
  font-weight: 300;
  src: local("Titillium WebLight"), local("TitilliumWeb-Light"),
    url(http://themes.googleusercontent.com/static/fonts/titilliumweb/v2/anMUvcNT0H1YN4FII8wpr24bNCNEoFTpS2BTjF6FB5E.woff) format("woff");
}

p {
  padding: 30px;
  display: flex;
  flex-direction: row;
}

h1 {
  font-weight: bold;
  display: flex;
  flex-direction: row;
  align-content: flex-end;
  justify-content: center;
  align-items: flex-end;
  flex-wrap: nowrap;
}

.listaMotivos {
  display: flex;
  align-items: stretch;
  padding: 15px;
}

button {
  margin-top: 50px;
  width: 150px;
  height: 50px;
  border-radius: 5px;
}

.inputs-forms {
  display: flex;
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
  /* align-content: stretch; */
  /* justify-content: space-evenly; */
  /* align-items: flex-start; */
  /* margin: auto; */
  /* margin-left: 30px; */
  /* padding: 10px; */
  padding-left: 30px;
}

.form-control {
  height: auto;
  width: auto;
  padding: 0.375rem.75rem;
}

.mensaje {
  width: 100%;

  font-size: large;
  font-family: Verdana;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: "Lato", sans-serif;
}

body {
  background-color: #f5f6f8;
  overflow: hidden;
}

.btn5 {
  background-color: rgba(255, 166, 0, 0.585);
}

//Color Variables
$sidebar-background-color: #326095;
$active-sidebar-link-color: #374262;
$hover-sidebar-link-color: $active-sidebar-link-color;
$active-link-color: #98d7ec;
$tooltip-background-color: $sidebar-background-color;

.sidebar-navigation {
  display: inline-block;
  min-height: 100vh;
  width: 80px;
  background-color: $sidebar-background-color;
  float: left;

  ul {
    text-align: center;
    color: white;

    li {
      padding: 28px 0;
      cursor: pointer;
      transition: all ease-out 120ms;

      i {
        display: block;
        font-size: 24px;

        transition: all ease 450ms;
      }

      .tooltip {
        display: inline-block;
        position: absolute;
        background-color: $tooltip-background-color;
        padding: 8px 15px;
        border-radius: 3px;
        margin-top: -26px;
        left: 90px;
        opacity: 0;
        visibility: hidden;
        font-size: 13px;
        letter-spacing: 0.5px;

        &:before {
          content: "";
          display: block;
          position: absolute;
          left: -4px;
          top: 10px;
          transform: rotate(45deg);
          width: 10px;
          height: 10px;
          background-color: inherit;
        }
      }

      &:hover {
        background-color: $hover-sidebar-link-color;

        .tooltip {
          visibility: visible;
          opacity: 1;
        }
      }

      &.active {
        background-color: $active-sidebar-link-color;

        i {
          color: $active-link-color;
        }
      }
    }
  }
}

.impresion-motivos-hijo p {
  padding: 10px;
}

.contenedor_padre {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
}

.contenedor_hijo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  align-items: flex-start;
  margin: 10px;
}

.impresion-motivos-hijo {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.boton-contenedor {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-direction: row;
  padding-bottom: 10px;
}

@media (max-width: 768px) {
  .sidebar-navigation {
    min-height: 120vh;
  }

  .impresion-motivos-hijo p {
    padding: 10px;
  }

  h1 {
    padding-left: 30px;
  }

  .contenedor_padre {
    display: flex;
    flex-wrap: wrap;

    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
  }

  h2 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-evenly;
    align-items: baseline;
    margin: 10px;
  }

  .contenedor_hijo {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    align-items: center;
    padding: auto;
    margin: 10px;
  }

  .impresion-motivos-hijo {
    padding: 1px;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: center;
  }

  .boton-contenedor {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: row;
  }
}

@media (max-width: 400px) {
  .main-menu {
    min-height: 150vh;
  }

  .mensaje {
    width: 100%;

    font-size: medium;
    font-family: Verdana;
  }
}

.boton-color {
  border-radius: 30%;
}

.contenedor_color {
  border-radius: 50%;
}

#style2 {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  width: 100px;
  height: 100px;
  border: none;
  cursor: pointer;
}

#style2::-webkit-color-swatch {
  border-radius: 50%;
}

#style2::-moz-color-swatch {
  border-radius: 50%;
}
