<div class="login-container-parent cont">
  <div class="mb-3 mt-3 header">
    <div class="logo-wallet"></div>
    <div class="mt-5 mb-5 app-title-container justify-content-center d-flex">
      <img class="me-4" src="../../assets/Recurso%2026@3x.png" alt="" />
      <div class="titles">
        <h1 class="title-header d-inline">Bienvenido a MyWallet</h1>
        <h5 class="subtitle">simple, segura y trazable</h5>
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-center login-container">
    <div class="d-flex flex-column buttons">
      <span> Soy nuevo </span>
      <div class="text-center mb-5 googleButton" (click)="onClick()">
        <span>Iniciar sesión con Google&nbsp;</span>
        <fa-icon [icon]="googleIcon"></fa-icon>
      </div>
      <span> Soy nuevo </span>
      <div class="text-center googleButton" (click)="registro()">
        <span>Registrate con Google&nbsp;</span>
        <fa-icon [icon]="googleIcon"></fa-icon>
      </div>
    </div>
  </div>
</div>
