<div class="d-flex flex-column justify-content-between p-2 container">
  <h1 class="mb-3">Mis gastos</h1>
  <div class="gastos-body align-self-start">
    Con esta funcionalidad queremos que tengas informacion clara y disponible
    para que hagas una mejor distribucion de tu dinero. Seleciona el rango de
    fecha para el cual quieres visualizar tus gastos por motivo de
    transferencia.
  </div>

  <form class="fechas align-self-end">
    <div>
      Desde :<span>21039/12039/123</span> hasta: <span>12-039/12313/123</span>
    </div>
  </form>

  graficos
</div>
