/* You can add global styles to this file, and also import other style files */
*{
    margin: 0;
    padding: 0;
}

.cont {
  background: linear-gradient(147deg, rgba(91,105,255,0.3967787798713235) 0%, rgba(251,251,251,0.8169468470982143) 53%);
}
