<div class="cont d-flex">
  <nav class="main-menu align-self-start justify-content-start">
    <ul>
      <li>
        <a [routerLink]="['/home']">
          <i class="fa fa-home fa-2x"></i>
          <span class="nav-text"> Home </span>
        </a>
      </li>
      <li class="has-subnav">
        <a [routerLink]="['/transaccion']">
          <i class="fa fa-money fa-2x"></i>
          <span class="nav-text"> Transferencias </span>
        </a>
      </li>

      <li class="has-subnav">
        <a [routerLink]="['/motivos']">
          <i class="fa fa-folder-open fa-2x"></i>
          <span class="nav-text"> Motivos </span>
        </a>
      </li>
      <li>
        <a [routerLink]="['/mis-gastos']">
          <i class="fa fa-bar-chart-o fa-2x"></i>
          <span class="nav-text"> Gastos </span>
        </a>
      </li>
      <li>
        <a [routerLink]="['/historial']">
          <i class="fa fa-clock-o fa-2x"></i>
          <span class="nav-text"> Historial </span>
        </a>
      </li>
    </ul>

    <ul class="logout">
      <li>
        <a (click)="alertaEliminarwallet()">
          <i class="fa fa-trash-o fa-2x"></i>
          <span class="nav-text"> Cancelar cuenta </span>
        </a>
      </li>
      <li>
        <a (click)="logout()">
          <i class="fa fa-power-off fa-2x"></i>
          <span class="nav-text"> Logout </span>
        </a>
      </li>
    </ul>
  </nav>

  <div class="content w-100 d-flex flex-column">
    <div class="mensaje text-center">
      <h1 class="mb-5">¡Hola {{ userName }}!</h1>

      <h3 class="mb-2">
        Tu saldo actual es: <b>USD {{ wallet ? wallet.saldo : 0 }} $</b>
      </h3>
    </div>

    <div>
      <h3 class="transacciones">Ultimas Transacciones</h3>
      <p-table class="table" [value]="historial" responsiveLayout="scroll">
        <ng-template pTemplate="header">
          <tr>
            <th>Fecha</th>
            <th>Hora</th>
            <th>Valor</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-historial>
          <tr>
            <td>{{ historial.fecha }}</td>
            <td>{{ historial.hora }}</td>
            <td>{{ historial.valor }}</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>
