<nav class="sidebar-navigation">
  <ul>
    <li (click)="trasferenciasRoute()">
      <fa-icon [icon]="transferenciaIcon"></fa-icon>
      <span src="" class="tooltip">Transacciones</span>
    </li>
    <li (click)="contactoRoute()">
      <fa-icon [icon]="contactosIcon"></fa-icon>
      <span class="tooltip">Contactos</span>
    </li>
    <li (click)="historialRoute()">
      <fa-icon [icon]="historialIcon"></fa-icon>
      <span class="tooltip">Historial</span>
    </li>
    <li (click)="motivosRoute()">
      <fa-icon [icon]="motivosIcon"></fa-icon>
      <span class="tooltip">Motivos</span>
    </li>
  </ul>
</nav>
<div>
  <div class="mensaje">
    <h1>Realiza una transferencia</h1>

    <h3>Datos de destinatario</h3>

    <p>
      Puedes seleccionar un contacto, si no lo tienes en tu lista,diligencia el
      número de celular de destinatario o el correo electronico
    </p>
  </div>

  <div class="form-outline mb-4">
    <input
      type="text"
      id="Nombre"
      [(ngModel)]="telefono"
      class="form-control"
    />
    <label class="form-label" for="form5Example1 ">Telefono</label>
  </div>

  <div class="form-outline mb-4">
    <input
      type="email"
      id="form5Example2"
      [(ngModel)]="email"
      class="form-control"
    />
    <label class="form-label" for="form5Example2">Email</label>
  </div>
  <div class="form-outline mb-4">
    <input
      type="number"
      step="any"
      id="form5Example3"
      [(ngModel)]="dinero"
      class="form-control"
    />
    <label class="form-label" for="form5Example2">Valor a enviar $ USD</label>
  </div>
  <div class="form-outline mb-4">
    <input type="text" id="form5Example4" class="form-control" />
    <label class="form-label" for="form5Example2" [(ngModel)]="motivo"
      >Motivo de transferencia</label
    >
  </div>

  <button
    type="submit"
    class="btnalert btn-primary btn-block mb-4"
    (click)="alertaError()"
  >
    alertaError
  </button>
  <button
    type="submit"
    class="btninfo btn-primary btn-block mb-4"
    (click)="alertaVerif()"
  >
    alertaverif
  </button>
  <button
    type="submit"
    class="btnTransfer btn-primary btn-block mb-4"
    (click)="enviar_transaccion()"
  >
    Transferir
  </button>
</div>
