form{
  width: 50%;
  padding: 15px;

}
h5{
  margin-top: 50px ;
}

h1{
  font-weight: bold;
}

.form-control{
  height: auto;
  width: auto;
  padding:.375rem.75rem;
}

.mensaje{
  width: 100%;
  padding: 15px;
  font-size: large;
  font-family: Verdana;

}
