<div>
  <div class="mensaje">
    <h1>Completa tu informacion</h1>
    <h5>
      Cada vez mas cerca de acceder a los beneficios de MY WALLET para finalizar
      el registro y crear tu cuenta, por favor diligencia la siguiente
      Informacion
    </h5>
  </div>

  <form  >
    <div class="form-outline mb-4">
      <input
        type="text"
        class="form-control Nombre"
        value="{{ nombre }}"
        required minlength="4"
        readonly
      />
      <label class="form-label bold" for="form5Example1">Nombre Completo</label>
    </div>

    <div class="form-outline mb-4">
      <input
        required
        maxlength="13"
        type="text"
        name="telefono"
        [(ngModel)]="Telefono"
        class="form-control telefono"
        placeholder="example: +57 3178768736"
      />
      <label class="form-label" for="form5Example1">Telefono (Incluya indicativo por país)</label>
    </div>


    <div class="form-outline mb-4">
      <input
        type="email"
        id="form5Example2"
        class="form-control email"
        value="{{ email }}"
        readonly
      />
      <label class="form-label" for="form5Example2">Email</label>
    </div>


    <button
      type="submit"
      class="btn btn-primary btn-block mb-4"
      (click)="crear()"
    >
      Crear
    </button>
  </form>
</div>






<!-- Name input -->
<!-- <div class="form-outline mb-4">
  <input
    type="text"
    class="form-control Nombre"

    readonly
  />
  <label class="form-label bold" for="form5Example1">Nombre Completo</label>
</div>



<div class="form-outline mb-4">
  <input
    type="email"
    id="form5Example2"
    class="form-control email"

  />
  <label class="form-label" for="form5Example2">Email</label>
</div> --> -->
<!--
<div class="form-outline mb-4">
  <input
    required

    type="text"
    name="telefono"
    [(ngModel)]="Telefono"

    placeholder="example:+57 3178768736"
  />
  <label class="form-label" for="form5Example1">Telefono</label>
</div> -->
